body {
  padding-top: 20px;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead{
		padding-bottom: 20px;
  }
  ,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.floating-imagen {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;    
    padding-top: 15px;
    border:solid 3px #ccc;
	border-radius:15px;
    box-shadow: 0px 20px 15px -15px #818181;
    width: auto;
    z-index: 100;
    position: fixed;
    top: 5px;
	right: 5px;
}


.moneda {
  pointer-events: none;
  border-radius:50px;
  border:solid 1px #000;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 4px;
  background-color: rgba(255, 215,	0, 0.9);
  display: inline-block;
}

